
Book/.idea/workspace.xml
Book/C and C++/.vs/C and C++/v16/.suo
Book/C and C++/.vs/C and C++/v16/Browse.VC.db
Book/C and C++/.vs/C and C++/v16/Browse.VC.opendb
Book/C and C++/.vs/C and C++/v16/ipch/AutoPCH/21871a92418ff810/C AND C++.ipch
Book/C and C++/.vs/C and C++/v16/ipch/AutoPCH/5bfc0e48a1e07a14/RECINTMULT.ipch
